[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cspp"]
	path = cspp
	url = https://github.com/cran/cspp
	shallow = true
	registered = true
[submodule "csppData"]
	path = csppData
	url = https://github.com/cran/csppData
	shallow = true
	registered = true
